<main class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class="card w-50 p-5" style="margin-top: -10%;">
    <div class="card-body text-center">
      <h1 class="card-title mb-4">Budget</h1>

      <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary w-100 my-2" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary w-100" %>
    </div>
  </div>
</main>