<h1>SplashScreen#home</h1>
<p>Find me in app/views/splash_screen/home.html.erb</p>

<%= link_to "Sign in", new_user_session_path, :method => :new %>
<%= link_to "Sign in", new_user_registration_path, :method => :new %>
